body {
    background-image: url('/img/engranajesok.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

    .filas {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    clear: both;
   
}

div.titulos {
    box-sizing: border-box;
    width: 20%;
    float: left;
    text-align: right;
    margin-right: 1em;
   
}

div.controles {
    box-sizing: border-box;
    float: left;
    width: 70%;
    
}

#txtDireccion {
    width:100%!important;
    
}

.input{
}




.cabeceralogo {
    background-color:crimson;
    border-radius:20px;
}

.cabecerabotones {
    background-color: burlywood;
    border-radius: 20px;
    padding:20px;
    
}

.cabeceracampos {
    background-color: burlywood;
    border-radius:20px;
    padding-top:20px;
    padding-bottom:20px;
}

.divaviso{

    border-radius:20px;
    text-align:right;
  


}

.botonin {
    border-radius: 10px;
    background-color:darkgoldenrod;
    color:black;
    border-style:none;
        
}

.cuadrobuscar {
    border-radius: 100px;
    border-style:none;
}


.entrada{

    text-align:center;
    width:100%;
   height:50px;


}

.cal {
    
    box-sizing: border-box;
    float: left;
    width: 70%;
    padding-left:0px;
    text-align:left;
}