body {
}

.filas {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    clear: both;
   
}

div.titulos {
    box-sizing: border-box;
    width: 20%;
    float: left;
    text-align: right;
    margin-right: 1em;
   
}

div.controles {
    box-sizing: border-box;
    float: left;
    width: 70%;
    
}

#txtDireccion {
    width:100%!important;
    
}

.input{
}

#cabecera1a {

    background-color:burlywood;
}

#cabecera2a {
    background-color: burlywood;
    
}

#cabecera1c {
    background-color: burlywood;
}

#cabecera2c {
    background-color: burlywood;
}




#cabecera1b {
    background-color: crimson;
    border-radius: 20px;
}

#cabecera2b {
    background-color: crimson;
    border-radius: 20px;
}

#cabecera1c {
    background-color: burlywood;
    border-radius: 20px;
}

#cabecera2c {
    background-color: burlywood;
    border-radius: 20px;
}


#cabecera0a {
    background-color: burlywood;
}

#cabecera0b {
    background-color: crimson;
    border-radius: 20px;
}

#cabecera3b {
    background-color: crimson;
    border-radius: 20px;
}

#cabecera3c {
    background-color: burlywood;
    border-radius: 20px;
}

#cabecera2c {
    background-color: burlywood;
    border-radius: 20px;
}


.cabeceralogo {
    background-color:crimson;
}

.cabecerabotones {
    background-color: burlywood;
    border-radius: 20px;
}

.cabeceracampos {
    background-color: burlywood;
    border-radius: 20px;
}



.botonin {
    border-radius: 10px;
    background-color:darkgoldenrod;
    color:black;
    border-style:none;
        
}

.cuadrobuscar {
    border-radius: 10px;
    border-style:none;
}